<!-- <button (click)="toggleWeekends()">Toggle weekends</button>
<full-calendar
  class="calendar_size"
  [options]="calendarOptions"
></full-calendar> -->

<div class="container">
  <!-- Google Calendar Container -->
  <div class="google-calendar">
    <!-- documentation used https://support.google.com/calendar/answer/41207?hl=en -->
    <iframe src="https://calendar.google.com/calendar/embed?src=wicwebapp%40gmail.com&ctz=America%2FDetroit"
            style="text-align: center;"
            width="100%"
            height="600"
            frameborder="0"
            scrolling="no"
            >
    </iframe>
    <p>*events are subject to change</p>
  </div>
  <!-- resources Container -->
  <div class="resources">
    <div class="text-container">
      <h4>Events</h4>
      <p>View our calendar of upcoming events! Feel free to contact us with any questions.</p>
      <br>
      <h4>Mentorship Program</h4>
      <p>College is not only a critical time for education, but for choosing career paths, and we want our women
        to be well prepared for when they enter the industry. If you are interested, please reach out through our "Contact" page.
        <!-- documentaiton used https://www.labnol.org/internet/free-file-hosting-github/29092/ -->
        <a href="https://github.com/cs336-wic/pdfs/blob/master/WIC%20Mentorship%20Program%20Brochure.pdf?raw=true">Download Brochure</a>
      </p>
    </div>
  </div>
</div>
<pdf-viewer [src]="pdfSrc"
  [render-text]="true"
  style="display: block;"
  ></pdf-viewer>