.my-card {
  margin: 20;
  width: max-content;
  border-radius: 10px;
  // background-color: beige;
  box-shadow: 2px 2px 9px 6px #ccc;

  margin-left: 130px;
}
mat-card-header {
  font-family: Georgia, "Times New Roman", Times, serif;
}
mat-card-title {
  font-family: inherit;
}

img {
  width: 200px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
