<!-- <p>join-us works!</p> -->

<div class="form-container">
  <legend>Sign up</legend>
  <form class="contact-form" (submit)="sendJoinEmail($event)">
    <label>Name *</label><br />
    <input type="text" name="name" /><br />
    <label>Email Address *</label><br />
    <input type="email" name="user_email" /><br />
    <label>Major *</label><br />
    <input type="major" name="major" /><br />
    <label>Comment</label><br />
    <input
      class="comment"
      type="comment"
      name="comment_box"
      placeholder="Tell us a little about yourself..."
    /><br />
    <button type="submit" class="submit-button">Submit</button>
  </form>
  <h5 class="issue_comment">
    <br /><br /><br />
    **Email us via the contact us page or through the WIC email if you are
    having any problems!
  </h5>
</div>
