<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <base href="/" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light"
      [ngClass]="{ 'dark-theme-mode': isDarkTheme }"
    >
      <div class="container-fluid">
        <div class="navbar-header">
          <img src="../assets/logo2.png" width="50px" height="50px" />
          <a class="navbar-brand" href="#">Women in Computing</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/events">Events</a></li>
          <li><a routerLink="/leadership">Leadership</a></li>
          <li><a routerLink="/joinus">Join Us</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li>
            <div class="headerdivider"></div>
          </li>
          <li>
            <button
              class="fa fa-adjust"
              aria-hidden="true"
              style="font-size: 25px"
              [(ngModel)]="isDarkTheme"
              labelPosition="before"
            ></button>

            <!-- <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async"
            >
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span style="flex: auto"></span>
            <mat-slide-toggle
              [(ngModel)]="isDarkTheme"
              labelPosition="before"
              (change)="storeThemeSelection()"
            >
            </mat-slide-toggle> -->
          </li>
        </ul>
      </div>
    </nav>

    <router-outlet></router-outlet>
  </body>
</html>
